{% extends 'base.html' %}
{% block title %}QuizHome{% endblock title %}
{% block body %}
{% load static %}
<div class="container my-4 maincontainer">
    <h3>Welcome to Online Quiz</h3>
    <div class="row row-cols-3 w-100">
        {% for cat in categories.keys %}
        <div class="col">
            <div class="card my-4" style="width: 18rem;">
                <img src="{% static 'img/img.jpg' %}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Quiz {{forloop.counter}}</h5>
                    <p class="card-text">This quiz questions are related to <b>{{cat|upper}}</b> Topic. All the best!!!
                    </p>
                    <a href="/quiz/{{cat}}/1/" class="btn btn-primary">Start Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col">
            <div class="card my-4" style="width: 18rem;">
                <img src="{% static 'img/img.jpg' %}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Final Quiz</h5>
                    <p class="card-text">This quiz questions are related to <b>All Above Mentioned</b> Topic. All the
                        best!!!</p>
                    <a href="/quiz/all/1/" class="btn btn-primary">Start Now</a>
                </div>
            </div>
        </div>

    </div>
    {% endblock body %}
    {% block js %}
    <script>
        localStorage.clear()
    </script>{% endblock js %}